<% include partials/header %>
<%# <div class="container">
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="btn btn-success">Log In</button>
</form>
</div> %>

<div id="register" class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Login</h3>
                    <form action="/login" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control input-lg" placeholder="Username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" placeholder="Password" name="password" value="" type="password">
                            </div>                           
                            
                            <input class="btn btn-lg btn-primary btn-block" value="Log Me In" type="submit">
                        </fieldset>
                    </form>                   
                    
                </div>
        </div>
    </div>
</div>

<% include partials/footer %>