<% include partials/header %>

<div class="container text-center">    
    <figure class="figure mt-3">
        <h1 class="text-info text-uppercase my-4"><%= campground.name%></h1>
        <img src="<%= campground.image%>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-justify"><%= campground.description%></figcaption>
    </figure>

</div>



<% include partials/footer %>